In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27

In [ ]:
idade = [39,30,27,18]

In [ ]:
type(idade)
len(idade)

4

In [ ]:
idade[0]

39

In [ ]:
idade

[39, 30, 27, 18]

In [ ]:
print(idade[1])
print(idade[2])

30
27

In [ ]:
idade.append(15)
idade

[39, 30, 27, 18, 15]

In [ ]:
for i in idade:
  print(i)

39
30
27
18
15

In [ ]:
idade.remove(30)
idade.append(27)
idade

[39, 27, 18, 15, 27]

In [ ]:
idade.remove(27)
idade

[39, 18, 15, 27]

In [ ]:
idade.insert(0,20)
idade

[20, 39, 18, 15, 27]

In [ ]:
idade.append([40,22])
idade

[20, 39, 18, 15, 27, [40, 22]]

In [ ]:
idade.extend([40,22])
idade

[20, 39, 18, 15, 27, 40, 22]

In [ ]:
idade_ano_que_vem = []
for i in idade:
  idade_ano_que_vem.append(i+1)

idade_ano_que_vem

[21, 40, 19, 16, 28, 41, 23]

In [ ]:
idade_ano_que_vem = [(i + 1) for i in idade]
idade_ano_que_vem

[21, 40, 19, 16, 28, 41, 23]

In [ ]:
[(i + 1) for i in idade if i > 21]

[40, 28, 41, 23]

In [ ]:
def faz_processo_visualiz(lista):
  print(len(lista))
  lista.append(13)

In [ ]:
idades = [16, 21, 29, 56, 43]
faz_processo_visualiz(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [ ]:
def faz_processo_visualiz(lista = []):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processo_visualiz()

1

In [ ]:
def faz_processo_visualiz(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processo_visualiz()

0
[]

# Objetos Próprios

In [ ]:
class contaCorrente:

  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0
  
  def deposita(self, valor):
    self.saldo += valor
  
  def __str__(self):
    return "[codigo {} Saldo {}]".format(self.codigo, self.saldo)

In [ ]:
conta_do_gui = contaCorrente(15)
print(conta_do_gui)

[codigo 15 Saldo 0]

In [ ]:
conta_da_dani = contaCorrente(47685)
conta_da_dani.deposita(5000)
print(conta_da_dani)

[codigo 47685 Saldo 5000]

In [ ]:
contas = [conta_da_dani, conta_do_gui]
print(contas)

[<__main__.contaCorrente object at 0x7f3c6366bb10>, <__main__.contaCorrente object at 0x7f3c6362da90>]

In [ ]:
for conta in contas:
  print(conta)

[codigo 47685 Saldo 5000]
[codigo 15 Saldo 0]

In [ ]:
conta_do_gui.deposita(100)

In [ ]:
print(contas[1])

[codigo 15 Saldo 100]

In [ ]:
contas[1].deposita(300)
print(contas[1])

[codigo 15 Saldo 400]

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta_do_gui, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[codigo 15 Saldo 400] [codigo 47685 Saldo 5000]
[codigo 15 Saldo 500] [codigo 47685 Saldo 5100]

In [ ]:
contas.insert(0,76)
print(contas[0],contas[1],contas[2])

76 [codigo 15 Saldo 500] [codigo 47685 Saldo 5100]

In [ ]:
guilherme = ('Guilherme', 37) #tupla
daniela = ('Daniela', 31)
#paulo = (25, 'Paulo') #ruim

In [ ]:
conta_do_gui = (15, 100)

def deposita(conta):
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [ ]:
conta_do_gui = deposita(conta_do_gui)
conta_do_gui

(15, 400)

In [ ]:
usuarios = [guilherme, daniela]
usuarios

[('Guilherme', 37), ('Daniela', 31)]

In [ ]:
usuarios.append(('Paulo',31,1980))
usuarios

[('Guilherme', 37), ('Daniela', 31), ('Paulo', 31, 1980)]

In [ ]:
conta_do_gui = contaCorrente(15)
conta_do_gui.deposita(1000)
conta_da_dani = contaCorrente(100)
conta_da_dani.deposita = (2000)

contas = (conta_do_gui, conta_da_dani)

In [ ]:
contas.append(40000)

AttributeError: ignored

In [ ]:
contas[0].deposita(500)

for conta in contas:
  print(conta)

[codigo 15 Saldo 2000]
[codigo 100 Saldo 0]

#Herança e Polimorfismo

In [ ]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass
  
  def __str__(self):
    return "[codigo {} Saldo {}]".format(self._codigo, self._saldo)

In [ ]:
print(Conta(88))

[codigo 88 Saldo 0]

In [ ]:
class contaCorrente(Conta):

  def passa_o_mes(self):
    self._saldo -= 2
  
class contaPoupanca(Conta):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class contaInvestimento(Conta):
  pass

In [ ]:
conta16 = contaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[codigo 16 Saldo 998]

In [ ]:
contaInvestimento(764)

TypeError: ignored

In [ ]:
conta17 = contaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[codigo 17 Saldo 1007.0]

In [ ]:
contas = [conta16, conta17]

for conta in contas:
  conta.passo_o_mes()

AttributeError: ignored

#Evitar usar Array, usar Numpy

In [ ]:
import array as arr

arr.array('d',[1, 3.5])

array('d', [1.0, 3.5])

In [ ]:
arr.array('d',[1,3.5,'Guilherme'])

TypeError: ignored

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [ ]:
import numpy as np

numeros = np.array([1, 2.5])
numeros

array([1. , 2.5])

In [ ]:
numeros + 3

array([4. , 5.5])

In [8]:
class contaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
    if type(outro) != contaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>> Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

  def __lt__(self, outro):
    return self._saldo < outro._saldo
  
class contaMultiploSalario(contaSalario):
  pass

In [ ]:
conta1 = contaSalario(37)
conta2 = contaCorrente(37)

In [ ]:
conta1 == conta2

False

In [ ]:
isinstance(contaCorrente(34), contaCorrente)

True

In [ ]:
isinstance(contaCorrente(34), Conta)

True

In [ ]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [ ]:
enumerate(idades) #lazy

In [ ]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [ ]:
for indice, idade in enumerate(idades): #unpacking da tupla
  print(indice, idade)

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [ ]:
usuarios = [
            ("Guilherme", 37, 1981),
            ("Daniela", 31, 1987),
            ("Paulo", 39, 1979)
]

for nome, idade, nascimento in usuarios:
  print(nome)

Guilherme
Daniela
Paulo

In [ ]:
for nome, _, _ in usuarios:
  print(nome)

Guilherme
Daniela
Paulo

In [ ]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [ ]:
reversed(idades)

In [ ]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [ ]:
sorted(idades, reverse= True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [ ]:
idades.sort()
idades

[15, 32, 32, 37, 49, 56, 65, 87]

In [ ]:
nomes = ["Guilherme", "Daniela", "Paulo"]
sorted(nomes)

['Daniela', 'Guilherme', 'Paulo']

In [ ]:
nomes = ["guilherme", "Daniela", "Paulo"]
sorted(nomes)

['Daniela', 'Paulo', 'guilherme']

In [23]:
conta_do_gui = contaSalario(17)
conta_do_gui.deposita(500)

conta_da_dani = contaSalario(3)
conta_da_dani.deposita(1000)

conta_do_paulo = contaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_da_dani, conta_do_paulo, conta_do_gui]
sorted(contas)

[<__main__.contaSalario at 0x7ff1a0766210>,
 <__main__.contaSalario at 0x7ff1a0766910>,
 <__main__.contaSalario at 0x7ff1a07664d0>]

In [ ]:
def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>> Codigo 17 Saldo 500<<]
[>> Codigo 133 Saldo 510<<]
[>> Codigo 3 Saldo 1000<<]

In [16]:
from operator import attrgetter

for conta in sorted(contas, key = attrgetter("_codigo","_saldo")):
  print(conta)

[>> Codigo 3 Saldo 1000<<]
[>> Codigo 17 Saldo 500<<]
[>> Codigo 133 Saldo 500<<]

In [11]:
conta_do_gui < conta_da_dani

True

In [17]:
from operator import attrgetter

for conta in sorted(contas):
  print(conta)

[>> Codigo 133 Saldo 500<<]
[>> Codigo 17 Saldo 500<<]
[>> Codigo 3 Saldo 1000<<]

In [22]:
from functools import total_ordering

@total_ordering
class contaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
    if type(outro) != contaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>> Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    
    return self._codigo < outro._codigo
  
class contaMultiploSalario(contaSalario):
  pass

In [24]:
conta_da_dani <= conta_do_gui

False